* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(body {
        background-image: url(https://img.freepik.com/premium-vector/seamless-pattern-with-vegetarian-food_73378-545.jpg?size=338&ext=jpg&ga=GA1.2.2055036589.1631792830););
}
